.env
**/.env
.venv
venv/

*.log
log-output/
coverage/

__pycache__/
*.pyc

.vscode/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.DS_Store

target/
out/
build/
dist/
build/*
dependency-reduced-pom.xml
build-before-profiler.xml
build.xml
nbbuild.xml
nbactions.xml
nbproject/*

data/*
data-node/bin/*
plugin/
*_gl2plugin.jar

/graylog2-rest-routes/src/main/java/org/graylog2/restroutes/generated
/graylog2-server/src/main/resources/web-interface/assets/**/*

/misc/elasticsearch.yml.2
/misc/elasticsearch.yml.dev
/misc/convert_rsyslog_db_to_mongo.rb

**/pom.xml.versionsBackup
**/hs_err_pid*.log

.vagrant/